
:root {
    --nude: #f8edeb;
    --ocean: #00b4d8;
    --pink: #f1c0e8;
    --cream: #FDFAFA;
    --coral: #ffcfd2;
    --teal: #005f73;
    --seafoam: #4BEDCA;
}

body {
    background-color: var(--nude);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

/* Header Styling */
header {
    background-color: var(--pink);
    width: 100%;
    flex-wrap: wrap;
}

header div {
    display: flex;
}

.title {
    justify-content: center;
    flex-wrap: wrap;
    color: var(--cream);
}

header a {
    text-decoration: none;
    color: var(--ocean);
    align-items: center;
}

header a:hover {
    color: var(--coral);
}

header p {
    color: var(--ocean);
    align-items: center;
}

.header-content {
    display: flex;
    justify-content: space-around;
}

/* Main Styling */
.main {
    flex: 1 0 auto;
    display: flex;
    color: var(--teal);
    justify-content: center;
    flex-direction: column;
    margin-left: 3em;
    margin-right: 3em;
}

.instruction-content {
    padding: 5em;
    display: flex;
    flex-direction: column;
}

.button-box {
    display: flex;
    justify-content: center;
}

.start-button {
    background-color: var(--coral);
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: var(--cream);
}

.start-button:hover {
    color: var(--teal);
    cursor: pointer;
}

.questions {
    color: var(--teal);
    padding: 5em;
}

.question-content {
    display: flex;
    flex-direction: column;
}

.question-content ol li {
    list-style-type: none;
    margin-right: 4em;
}

.question-box {
    border: 5px solid var(--seafoam);
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.question-button {
    background-color: var(--seafoam);
    border: none;
    padding: 2px 4px;
    margin: 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    color: var(--cream);
    border-radius: 45%;
}

.question-button:hover {
    cursor: pointer;
}

/* Footer Styling */
footer {
    background-color: var(--pink);
    width: 100%;
    display: flex;
    align-items: center;
}

.footer {
    flex-shrink: 0;
}

footer img {
    max-height: 3em;
}

footer a {
    text-decoration: none;
    color: var(--nude);
}
